body{
margin:0;
font-family:Arial;
background:#f8fafc;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:#0f172a;
color:white;
position:sticky;
top:0;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
}

/* ABOUT */
.about-box{
display:flex;
gap:30px;
padding:50px;
align-items:center;
}

.about-box img{
width:150px;
border-radius:50%;
}

/* SKILLS */
.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:15px;
padding:40px;
}

.skill{
background:white;
padding:15px;
text-align:center;
border-radius:10px;
}

.skill img{
width:50px;
height:50px;
}

/* PROJECTS */
.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.project-card{
background:white;
padding:20px;
border-radius:10px;
border:1px solid #ddd;
}

/* FORM */
.form{
display:grid;
gap:10px;
width:300px;
padding:40px;
}

input,textarea{
padding:10px;
}

/* POPUP */
#popup{
display:none;
position:fixed;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.popup-box{
background:white;
padding:30px;
}
